html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #272725;
    background-color: #FEFEFD;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
    
}



.title-h2 {
    font-size: 40px;
    text-align: center;
    
}

.title-h2:after {
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    border-radius: 4px;
    background-color: #F2994A;
    margin: 10px auto;
    
}


.title-h3 {
    font-size: 20px;
}
.text-p {
    font-size: 16px;
    color: #4F4F4F;
}



.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

/* Header */

.header {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header.fixed {
    position: fixed;
    background: rgba(0, 0, 0, .4);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    position: relative;
    
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #FEFEFD;
}

.nav {
    display: flex;
}

.nav__item {
    text-decoration: none;
    font-size: 19px;
    color: #FEFEFD;
    margin-right: 35px;
    position: relative;
    transition: .2s;
}

.nav__item:last-child {
    margin-right: 0;
}

/* @keyframes underline {
    to {
        width: 100%;
    }
}

@keyframes underline {
    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes movecircle { 
    from {
        opacity: 1;
    }
    80% {
        opacity: 1;
        transform: scale(1);
        
    }
    to {
        opacity: 0;
        left: 100%;
        transform: scale(0);
    }
} */

/* .nav__item:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F2994A;
    left: 0;
    top: 26px;
    opacity: 0;
    transition: left .5s ease-in;
    
} */

.nav__item:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    
    background-color: #F2994A;
    left: 0;
    top: 29px;
    opacity: 1;
    transition: width .5s ease-in;
    
}

.nav__item:hover:before {
    width: 100%;
}

/* .nav__item:hover:after {
    left: 100%;
    
} */

/* .nav__item:hover:after{
    animation-name: movecircle;
    animation-duration: .7s;
    animation-timing-function: ease-in;
    
}
.nav__item:hover:before{
    animation-name: underline;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    
} */


.nav__item.active:before{
    width: 100%;
    opacity: 1;
}

/* Burger */

.burger {
	display: none;
	background: none;
	border: 0;
	cursor: pointer;
	padding: 9px 5px;
    transition: all .5s ease-in-out;
    
}



.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #FEFEFD;
    border-radius: 25%;
	font-size: 0;
	color: transparent;
	position: relative;
    transition: background-color .3s ease-in-out;
    
}

.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;
    border-radius: 25%;
	background-color: #FEFEFD;
	position: absolute;
	left: 0;
	z-index: 1;
    transition: transform .3s ease-in-out;
    
}
.burger__item:before {
	transform: translateY(-8px);
}

.burger__item:after {
	transform: translateY(8px);
}

/* @keyframes cross-top {
    50% {
        transform: translateY(0px);
    }
    to {
        transform: translateY(0px) rotate(-45deg);
       
    }
} */

/* @keyframes cross-bottom {
    50% {
        transform: translateY(0px);
    }
    to {
        transform: translateY(0px) rotate(45deg);
    }
} */

/* @keyframes cross-center {
    to {
        background-color: transparent;
    }
} */



.burger.show .burger__item {
    background-color: transparent;
}

.burger.show .burger__item:after{
    transform:  rotate(45deg);
}

.burger.show .burger__item:before{
    transform:  rotate(-45deg);
}


/* .burger.show .burger__item:after,
.burger.show .burger__item{
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
} */

/* intro */

.intro {
    background: url("img/intro/intro_bg.jpg") center no-repeat;
    background-size: cover;
    background-color: #949E5F;
}


.intro__content {
    max-width: 480px;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
}

.intro__slider {
    overflow: hidden;
    
    border-radius: 2px;
    background-color: rgba(254, 254, 253, .9);
    
    transition: box-shadow .5s,
                background-color 1s;
}

.intro__block {
    width: 1440px;
    height: 400px;
    display: flex;
    
    
    left: 0;
    position: relative;
    transition: .5s ease-out;
}

.intro__slider:hover {
    box-shadow: 0px 0px 15px #fff;
    background-color: #fff;
}

.intro__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.title-h1 {
    font-size: 50px;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    border-radius: 4px;
    background-color: #F2994A;
    margin-top: 15px;
}

.intro__text {
    margin-top: 20px;
    max-width: 400px;
}

.btn {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    background: #3F9AB7;
    font-size: 18px;
    color: #FEFEFD;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: auto;
    /* transition: background .1s linear; */
    transition: transform .5s ease-out;
    
}

.btn:hover {
    transform: translateX(5px);
}

/* .btn:hover {
    background: none;
    padding: 8px 13px;
    border: 2px solid #F2994A;
    color: #F2994A;
} */

.intro__btns {
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.intro__btn {
    
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: border .3s linear,
                background-color .3s ease-in;
}

.intro__btn:hover {
    border: 1px solid #333;
    border-radius: 50%;
    background-color: rgba(254, 254, 253, .5);
    
}

.intro__arrow-left, .intro__arrow-right {
    display: block;
    font-size: 0;
    width: 20px;
    height: 4px;
    background-color: #272725;
    border-radius: 2px; 
    position: relative;
    
    top: 32%;
    
    
    
    
}

.intro__arrow-left {
    transform: rotate(-45deg);
    left: 25%;
    
}

.intro__arrow-left::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #272725;
    border-radius: 2px;
    position: absolute;
    transform: rotate(-90deg);
    top: 8px;
    right: 8px;
}

.intro__arrow-right {
    transform: rotate(225deg);
    left: 32%;
}

.intro__arrow-right::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #272725;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    top: -8px;
    right: 8px;
}

/* Standart */

.standart {

    margin-top: 100px;
}


.standart__text {
    text-align: center;
    margin-top: 50px;
}

.standart__content {
    min-height: 830px;
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: flex-start;
    margin-bottom: 70px;
}

.standart__img {
    margin-right: 50px;
    height: 780px;
    
}

.standart__img img{
    max-height: 100%;
    width: 100%;
    
}

.accordeon {
    max-width: 500px;
    
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); 
    
}

.accordeon__item {
    width: auto;
    border-bottom: 1px solid #3F9AB7;
}


.accordeon__title {
    cursor: pointer;
    padding: 10px;
    background-color: #3f99b7b2;
    color: #fff;
    position: relative;
    transition: background-color .2s linear;
    
    
}

.accordeon__title:before {
    content: '+';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    transition: transform .3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.accordeon__title:hover {
    background-color: #3f99b7da;
}

.accordeon__text {
    
    background-color: #3f99b718;
    position: relative; 
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    
}

.accordeon__text-span {
    font-weight: bold;
    padding-left: 10px;
}

.accordeon__text .text-p {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.accordeon__item.active .accordeon__text {

    max-height: 800px;
    height: auto;
    
    
}

.accordeon__item.active .accordeon__title:before {
    transform: translate(0, -50%) rotate(45deg);
}


/* Males */

.dogs {
    display: flex;
   
    margin-top: 100px;
    margin-bottom: 100px;
}

.container__dogs {
    margin: 0;
}




.dogs__carousel {
    display: flex;
    justify-content: space-between;
    
    margin-top: 70px;
}

.dogs__carousel-item {
    
    
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    transition: box-shadow .2s linear,
                transform .2s linear;
                animation-name: fade;
                animation-duration: 1.5s;
   
}

.dogs__carousel-item.block {
    display: none;
    
}


@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.5;
        
    }
    to {
        opacity: 1;
    }
}

.dogs__carousel-item:hover{
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
	transform: scale(1.01);
    
}

.dogs__carousel-item:hover .dogs__carousel-img img{
	opacity: .1;
    
}

.dogs__carousel-item:hover .dogs__carousel-text{
	opacity: 1;
}

.dogs__carousel-item:last-child {
    margin-right: 0;
}

.dogs__carousel-img {
    
    height: 370px;
    background: linear-gradient(to bottom, #f38181, #F2994A);
    
}

.dogs__carousel-img img {
    object-fit: cover;
    width: auto;
    height: 100%;
    transition: opacity .5s ease-in;
    
}

.dogs__carousel-text {
    width: 100%;
	font-size: 14px;	
	color: #fff;
	text-align: center;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity .6s linear;
}

.dogs__carousel-text span {
    font-size: 16px;
    font-weight: 700;
}
.dogs__carousel-text p {
    margin-top: 10px;
}

.arrow {

    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    
    height: 370px;
    max-width: 150px;
    width: 100%;
    margin-top: auto;
}

.arrow-item{
    font-size: 0;
    position: relative;  
    
}


.arrow-left {
    
    filter:drop-shadow(0 0 2px #285e70) ;
    margin-left: auto;
}
.arrow-left-item {
    margin-left: auto;
    right: 20px;
}

.arrow-left-item::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background-color: #3f99b7;
    border-radius: 2px;
    position: absolute; 
    transform: rotate(-45deg);
}
.arrow-left-item::before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background-color: #3f99b7;
    border-radius: 2px;
    position: absolute; 
    top: 12px;
    transform: rotate(45deg);
}

.arrow-right {
    
    filter:drop-shadow(0 0 2px #285e70) ;
    margin-right: auto;
    
}

.arrow-right-item {
    margin-right: auto;
}
.arrow-right-item::after {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background-color: #3f99b7;
    border-radius: 2px;
    position: absolute;
    transform: rotate(45deg);
}

.arrow-right-item::before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background-color: #3f99b7;
    border-radius: 2px;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
}

@keyframes rotate-left {
    to {
        transform: rotate(135deg);
        
    }
}
@keyframes rotate-right {
    to {
        transform: rotate(-135deg);
    }
}



.arrow:hover .arrow-left-item::after,
.arrow:hover .arrow-right-item::before{
    animation-name: rotate-left;
    animation-duration: .5s; 
    animation-timing-function: ease-out;
}
.arrow:hover .arrow-right-item::after,
.arrow:hover .arrow-left-item::before{
    animation-name: rotate-right;
    animation-duration: .5s; 
    animation-timing-function: ease-out;
}
/* .arrow:hover .arrow-left-item::before{
    animation-name: rotate-right;
    animation-duration: .5s; 
} */
/* .arrow:hover .arrow-right-item::before{
    animation-name: rotate-left;
    animation-duration: .5s; 
} */

/* Females */

.females__carousel-img {
    background: linear-gradient(to bottom, #0c3a4b, #3f99b7);
    max-height: 370px;
}



/* Articles */

.articles {
    margin-top: 100px;
    margin-bottom: 100px;
}

.articles__content {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.articles__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    
    margin-right: 20px;
}

.articles__item:last-child {
    margin-right: 0;
}

/* @keyframes articles-hover {
    from {
        top: 0%;
        filter: grayscale(2);
    }
    50% {
        top: 50%;
        filter: grayscale(2);
    }
    to {
        top: 100%;
        filter: grayscale(2);
    }
} */

.articles__item:hover .articles__item-img img{
    opacity: .4;
}

.articles__item:hover .articles__item-title {
    text-decoration: underline;
}

.articles__item-link {
    text-decoration: none;
}

.articles__item-img {
    overflow: hidden; 
    max-height: 200px;
    height: 100%;
    
}

.articles__item-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: opacity .5s ease-out;
}
.articles__item-title {
    margin-top: 20px;
    color: #272725;
}

.articles__item-description {
    margin-top: 10px;
}

@keyframes article-block {
    from {
        height: 0;
    }
    to {
        height: 400px;
    }
}

.articles__block {
    display: none;
    margin-top: 70px;
    box-shadow: inset 0 0 5px rgba(154, 147, 140, 0.5);
    scrollbar-width: thin;
    scrollbar-color: #3f99b775 rgb(233, 233, 233);
    
    
    
}

.articles__block.show {
    display: block;
    
    
}

.articles__block-title {
    cursor: pointer;
    padding: 20px;
}


.articles__block-text {
    width: 100%;
    height: 400px;
    overflow: auto;
    animation-name: article-block;
    animation-duration: .5s;
    
}

.articles__block-text::-webkit-scrollbar {
    width: 12px;              
  }
  .articles__block-text::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);        
  }
  .articles__block-text::-webkit-scrollbar-thumb {
    background-color: #3f99b775;   
  }

.articles__block-text .text-p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 30px;
}

.span1 {
    background-color: #c3f0ffc4;
}

.span2 {
    background-color: #c3c9ffb6;
}

.span3 {
    background-color: #f1c3ffb6;
}
/* Contacts */

.contacts {
    
    background: #3f99b775;
}

.contacts__inner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contacts__content {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    
}

.contacts__item {
    width: 33.333%;
    display: flex;
    justify-content: center;
}

.contacts__item-inner {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    
}

.contacts__item-inner .text-p {
    margin-top: 10px;
}

.contacts__item-inner .text-p:first-child {
    margin-top: 0;
}

.contacts__item-inner .contacts-link {
    margin-top: 10px;
}
.contacts__item-inner .contacts-link:first-child {
    margin-top: 0;
}

.contacts-link {
    text-decoration: none;
    color: #4F4F4F;
    transition: color .2s linear;
    position: relative;
    margin: 0 auto;
}

.contacts-link::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    opacity: 0;
    text-align: center;
    
}

@keyframes circles {
    from {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    to {       
        opacity: 0;
        width: 70px;
        height: 70px;
        
    }
}

.contacts-link:hover:before{
   
    animation-name: circles;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
   
    
}



/* Footer */

.footer {
    
    border-top: 1px solid #2a607275;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__inner {
    text-align: center;
}



/* Media */

@media(max-width:1280px) {
    
    .dogs__carousel-img {
        height: 330px;
    }
}

@media(max-width:1024px) {

    /* Header */


    .nav {
        height: auto;
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 181%;
        padding-right: 15px;
        padding-left: 10px;
        padding-bottom: 5px;
        margin-right: -15px;
    }

    .nav.show{
        display: flex;
        
        
        
    }

    .nav__item {
        filter: drop-shadow(0 0 2px rgb(112, 112, 112));
        margin-right: 0;
        margin-top: 8px;
        align-self: flex-end;
    }

    .header.fixed .nav {
        background: rgba(0, 0, 0, .4);
    }
    /* Intro */
    
    .intro__content {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .intro__block {
        height: 380px;
    }

    .intro__btns {
        margin-top: 15px;
    }

    /* Burger */

    .burger {
	    display: block;
    }

/* Standart */
    .standart {
        margin-top: 70px;
    }

    .standart__img {
        margin-right: 20px;
        height: 430px;
        
    }

    .standart__img img {
        width: auto;
    }

    /* Articles */

    .articles__content {
        flex-wrap: wrap;
    }
    .articles__item {
        width: 45%;
        height: 100%;
        margin-bottom: 20px;
    }

    .articles__item:nth-child(2n) {
        margin-right: 0;
    }

    /* Contacts */

    .contacts__inner {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
}

@media(max-width:768px) {
    .title-h1 {
        font-size: 42px;
    }

    /* header */

    

    /* Intro */

    .intro__inner {
        display: flex;
        justify-content: center;
    }
    .intro__block {
        height: 360px;
    }

    /* Standart */
    

    .standart__img {
        display: none;
    }

    /* Dogs */

    .dogs__carousel {
        justify-content: center;
    }

}

@media(max-width:600px) {

    /*  articles*/
    .articles__item {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .articles__item {
        margin-right: 0;
    }

    /* Contacts */

    .contacts__content {
        flex-wrap: wrap;
    }

    .contacts__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts__item:first-child {
        
        text-align: center;
    }

    .contacts__item:last-child {
        
        margin-bottom: 20px;
    }
}

@media(max-width:480px) {
    /* Intro */

    .intro__content {
        max-width: 300px;
    }
    .intro__block {
        width: 900px;
        height: 440px;
    }
    
    /* Dogs */

    .dogs__carousel-img {
        height: 250px;
    }
}